.titleSection{
    width: 100%;
    padding: 140px 0 60px;
    text-align: center;
    h2{
        text-align: center;
        font-size: 40px;
        font-weight: 700;
        line-height: 72px;
        letter-spacing: -0.576px;
        margin-bottom: 24px;
        margin-top: 0;
        span{
            color: #ff5d04;
        }
    }
    p{
        color: #23262A;
        font-size: 18px;
        font-weight: 600;
        line-height: 25px;  
    }
}
.notice2{
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #23262A;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;    
    color: #fff;
    .leftPart{
        padding: 43px 190px 43px 140px;
        width: 60%;
        text-align: left;
        h2{
            font-size: 36px;
            font-weight: 700;
            line-height: 48px;
            letter-spacing: -.57px;
            margin-bottom: 24px;
            text-align: right;
        }
      
        
        .notice2_name{
            color: #ff5d04;
            font-size: 28px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: 0.196px;
            margin: 32px 0 0;
            text-align: right;
        }
        .notice2_descr{
            text-align: right;
            a{
                color: #fff;
                text-decoration: underline;
            }
        }
       
    }
    .imgPart{
        position: absolute;
        left: 0;
        top: 0;
        width: 40%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
.hbsp_box{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    margin-top: 60px;
    padding-bottom: 120px;
    height: 770px;
    &::after{
        content: '';
        width: 100%;
        height: 140px;
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: #FF5D04;
        z-index: 1;
    }
    .hbsp_box_img{
        position: relative;
        z-index: 10;
        flex: 1;
        display: block;
        height: 770px;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        
    }
    .hbsForm{
        width: 570px;
        overflow: hidden;
        height: 540px;
        
        .hbsp_box_wrapper{
            position: relative;
            top: -50px;
            width: 100%;
            background-color: #000!important;
            overflow: hidden;
            border: none;
            padding: 0 ;
            height: 632px;
}
    }
}

@media(max-width: 1623px){
    .notice2{
        
        .leftPart{
            padding: 43px 90px 43px 100px;
            text-align: left;
            width: 57%;
            h2{
                font-size: 26px;
                font-weight: 700;
                line-height: 42px;
                letter-spacing: -.57px;
                margin-bottom: 24px;
                text-align: right;
            }
          
            
            .notice2_name{
                color: #ff5d04;
                font-size: 28px;
                font-weight: 700;
                line-height: 32px;
                letter-spacing: 0.196px;
                margin: 32px 0 0;
                text-align: right;
            }
            
           
        }
        .imgPart{
            position: absolute;
            left: 0;
            top: 0;
            width: 43%;
            height: 100%;
           
        }
    }
    .titleSection{
        padding: 100px 0 0px;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 32px;
            text-align: center;
            max-width: 100%;
            margin: 0 auto;
            line-height: 42px
        }
        p{
            font-size: 16px;
            line-height: 26px;  
        }
    }
}

@media(max-width: 1170px){
    .notice2{
        
        .leftPart{
            padding: 43px 90px 43px 100px;
            text-align: left;
            width: 57%;
            h2{
                font-size: 28px;
                font-weight: 700;
                line-height: 38px;
                letter-spacing: -.57px;
                margin-bottom: 24px;
                text-align: right;
            }
          
            
            .notice2_name{
                color: #ff5d04;
                font-size: 22px;
                font-weight: 700;
                line-height: 26px;
                letter-spacing: 0.196px;
                margin: 32px 0 0;
                text-align: right;
            }
            
           
        }
        .imgPart{
            position: absolute;
            left: 0;
            top: 0;
            width: 43%;
            height: 100%;
           
        }
    }
}
@media(max-width: 930px){
    .hbsp_box{
        flex-wrap: wrap;
        height: auto;
        margin-top: 12px;
        padding-bottom: 0;
        margin-bottom: 70px;
        &::after{
            display: none;
        }
        .hbsp_box_img{
            position: relative;
            z-index: 10;
            flex: 1;
            display: block;
            height: 370px;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            border-bottom: 0 solid #ff5d04;
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-top-left-radius: 12px;
                border-top-right-radius: 12px;
            }
            
        }
    }   
    .notice2{
        flex-direction: column;
        .leftPart{
            padding: 43px 32px;
            text-align: left;
            width: 100%;
            text-align: center;
            h2{
                font-size: 19px;
                line-height: 27px;
                margin: 0 0 28px;
                text-align: left;
            }     
            .notice2_name{
                color: #ff5d04;
                font-size: 20px;
                font-weight: 700;
                line-height: 26px;
                margin: 4px 0 0;
                text-align: left;
            }
            .notice2_descr{
                text-align: left;
                margin: 1px 0;  
            }
           
        }
        .imgPart{
            position: relative;
            width: 100%;
           
        }
    }
    .titleSection{
        padding: 50px 0 0px;
    }
}

#hubspotForm{
   
    form{
        max-width: 545px!important;
        width: 100%!important;
        .hs-form-field{
            width: 100%!important;
            input{
                width: 100%!important;
            }
        }
    }
    
}
.hbfContainer{
   // background: #FAFAFA;
    padding: 0 24px 50px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, .5);
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    z-index: 11;
}
.title{
    margin-top: 0;
    margin-bottom: 24px;
    max-width: 345px;
    text-align: center!important;
    width: 100%;
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    line-height: 36px; 
    letter-spacing: -0.576px;
}
@media(max-width: 992px){
    .hbfContainer{
        // background: #FAFAFA;
         padding: 0 16px 30px;
     }
     .title{
        margin-bottom: 14px;
        max-width: 265px;
        text-align: center;
        font-size: 28px;

        text-align: left;
        line-height: 30px;
    }
    .titleSection{
       .customH2{
            padding-left: 16px;
            font-size: 28px;
            margin-bottom: 18px;
            text-align: left;
        } 
        p{
            margin-bottom: 12px;
            text-align: left;
            padding-left: 16px;
        }
    }
    


}

.redBtn{
    transition: all .3s ease;
  }
  .redBtn{
    background-color: #FF5D04;
    padding: 16px 50px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
  }
  .redBtn:hover{
    opacity: .6;
  }