.avtoparkTop{
  h1, p{
      max-width: 1120px;
      width: 100%;
      margin: 0 auto;
      text-align: left;
  }
  h1{
      font-size: 60px !important;
      margin-bottom: 32px;
      line-height: 50px;
      font-weight: 700;
      letter-spacing: -0.876px;
      padding-top: 100px;
      text-align: left;
      span{
          color: #ff5d04;
      }
  }
  p{
      margin-bottom: 32px;
  }
}
@media(max-width:992px){
  .avtoparkTop{
    padding: 0 12px;
  }
}